<div class="row">
  <br>
  <br>
  <h1 class="center">Log in!</h1>
  <p class="center"><%= link_to 'Back', root_url, class: "button" %></p>
</div>
<div class="style-form">
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="field">
      <%= submit_tag "Log in", class: "button" %>
    </div>
    <p><%= link_to "forgotten password?", new_password_reset_path %></p>
   <!--  <div class="field">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </div> -->
  <% end %>
</div>
