<div class="style-form">
  <%= form_for(@affair) do |f| %>
    <% if @affair.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@affair.errors.count, "error") %> prohibited this affair from being saved:</h2>

        <ul>
        <% @affair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="field">
    <%= f.label :kind, class: "required" %>
    <%= f.select :kind, options_for_select([["Conference", "conference"],
                                            ["Quarterly", "quarterly"],
                                            ["Event", "event"]], @affair.kind), :required => true %>
  </div>
  <div class="field">
    <%= f.label :name, class: "required" %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :date, class: "required" %><br>
    <%= f.date_select :date, :required => true %>
  </div>
  <div class="field">
    <%= f.label :location, class: "required" %><br>
    <%= f.text_field :location, :required => true %>
  </div>
  <div class="field">
    <%= f.label :cost, class: "required" %><br>
    <span class="d-n-b">$</span><span class="d-n-b"><%= f.text_field :cost, :required => true %></span>
  </div>
  <div class="field">
    <%= f.label :paypal %><br>
    <%= f.text_area :paypal %>
  </div>
    <div class="field">
    <%= f.label :description, class: "required" %><br>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
  <% end %>
</div>
