
<% @affairs.each do |affair| %>
<div class="row">
  <div class="large-3 columns">
    <% if defined? affair.pictures.last.image %>
      <%= image_tag affair.pictures.last.image.url(:medium) %>
    <% end %>
  </div>
  <div class="large-3 columns">
    <h3><%= affair.name %></h3>
    <h3><%= affair.date %></h3>
    <h3><%= affair.location %></h3>
    <h3><%= affair.cost %></h3>
  </div>
  <div class="large-3 columns">
    <div style="" id="initial_paypal_code">
      <%= affair.paypal %>
    </div>
  </div>
  <div class="large-3 columns">
    <%= link_to 'New Affair', new_affair_path %>
    <%= link_to 'Edit', edit_affair_path(affair) %>
    <%= link_to 'Destroy', affair, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>


