<div class="row">
  <% if admin %>
    <div class="small-12 columns">
      <h2>
        <i class="fa fa-plus"></i>
        <%= link_to 'New Event', new_affair_path, class: "button" %>
      </h2>
    </div>
  <% end %>
  <div class="small-12 columns">
    <%= render "module/no_content" %>
  </div>
</div>
<% @affairs.each do |affair| %>
<div class="row">
  <div class="large-4 small-12 columns">
    <div class="image">
      <br>
      <br>
      <% if defined? affair.pictures.last.image %>
        <%= image_tag affair.pictures.last.image.url(:large) %>
      <% end %>
    </div>
  </div>
  <div class="large-8 small-12 columns background-a">
    <h1><%= affair.name %></h1>
    <div class="background-a-content">
      <h2><%= affair.date.strftime("%m/%d/%Y") %></h2>
      <h3><%= affair.location %></h3>
      <h3>$<%= affair.cost %></h3>
      <% if current_user %>
        <div id="new_pp_code">
          <div style="display:none" id="initial_paypal_code">
            <%= affair.paypal %>
          </div>
        </div>
      <% else %>
        <br>
        <h4>Please log-in <br>to purchase ticket</h4>
        <div class="log-in">
          <%= link_to "LOG IN", log_in_path, style: "color:#67c0de;text-decoration:none;font-weight:700;" %>
          <i class="fa fa-toggle-on"></i>
        </div>
      <% end %>
      <% if defined? @affair.attachments.last.file %>
        <a class="button" href="<%= @affair.attachments.last.file.url %>" >
          <i class="fa fa-file-pdf-o"></i>
          View PDF
        </a>
      <% end %>
      <% if admin %>
        <h2>
          <i class="fa fa-edit"></i>
          <%= link_to 'Edit', edit_affair_path(affair), class: "button" %>
        </h2>
        <h2>
          <i class="fa fa-plus"></i>
          <%= link_to 'Add Image/PDF/DOC', affair, class: "button" %>
        </h2>
        <h2>
          <i class="fa fa-trash"></i>
          <%= link_to 'Destroy', affair, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </h2>
      <% end %>
    </div>
  </div>
</div>
<% end %>

