<h1>Listing affairs</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Cost</th>
      <th>Paypal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @affairs.each do |affair| %>
      <tr>
        <td><%= affair.kind %></td>
        <td><%= affair.name %></td>
        <td><%= affair.date %></td>
        <td><%= affair.location %></td>
        <td><%= affair.cost %></td>
        <td><%= affair.paypal %></td>
        <td><% if defined? affair.pictures.last.image %><%= image_tag affair.pictures.last.image.url(:medium) %><% end %></td>
        <td><%= link_to 'Show', affair %></td>
        <td><%= link_to 'Edit', edit_affair_path(affair) %></td>
        <td><%= link_to 'Destroy', affair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affair', new_affair_path %>
