<div class="row">
  <% @scholarships.each do |scholarship| %>
  <div class="small-12 columns scholarship">
    <div class="scholarship-info">
      <h1><%= scholarship.name %></h1>
      <h4><%= scholarship.author %></h4>
      <p>
        <% if defined? scholarship.pictures.last.image %>
          <%= image_tag scholarship.pictures.last.image.url(:medium) %>
        <% end %>
        <%= scholarship.info %>
      </p>
    </div>
    <div class="scholarship-image">

    </div>
    <div class="scholarship-download">
      <% if defined? scholarship.attachments.last.file %>
        <a class="button" href="<%= scholarship.attachments.last.file %>" >
          <i class="fa fa-download"></i>
          download scholarship form
        </a>
      <% end %>
    </div>
    <%= link_to 'Show', scholarship, class: "button"%>
    <%= link_to 'Edit', edit_scholarship_path(scholarship), class: "button"%>
    <%= link_to 'Destroy', scholarship, method: :delete, data: { confirm: 'Are you sure?' }, class: "button"%>
  </div>
  <% end %>
  <%= link_to 'New Scholarship', new_scholarship_path %>

</div>
