<div class="row">
  <%= link_to 'Back', scholarships_path, class: "button" %>
  <br>
  <br>
</div>
<div class="row">
  <div class="small-12 columns background-a">
    <h1><%= @scholarship.name %></h1>
    <div class="background-a-content">
      <h4><%= @scholarship.author %></h4>
      <p>
        <% if defined? @scholarship.pictures.last.image %>
          <%= image_tag @scholarship.pictures.last.image.url(:medium) %>
        <% end %>
        <%= markdown(@scholarship.info) %>
      </p>
      <div class="scholarship-download">
        <% if defined? @scholarship.attachments.last.file %>
          <a class="button" href="<%= @scholarship.attachments.last.file %>" >
            <i class="fa fa-download"></i>
            download scholarship form
          </a>
        <% end %>
      </div>
      <%= link_to 'Edit', edit_scholarship_path(@scholarship), class: "button"%>
      <%= link_to 'Destroy', @scholarship, method: :delete, data: { confirm: 'Are you sure?' }, class: "button"%>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render "module/picture_attachment" %>
  </div>
</div>
