<% @newsletters.each do |newsletter| %>
  <div class="row">
    <div class="small-12 columns">
      <br>
      <br>
      <br>
    </div>
    <div class="large-4 small-12 columns">
      <div class="index-image">
        <% if defined? newsletter.pictures.last.image %>
          <%= image_tag newsletter.pictures.last.image.url(:large) %>
        <% end %>
      </div>
    </div>
    <div class="large-8 small-12 columns">
      <div style="text-align:center">
        <h1><%= newsletter.name %></h1>
        <div class="index-info background-a">
          <h3><%= newsletter.date %></h3>
          <% if defined? newsletter.attachments.last.file %>
            <a class="button" href="<%= newsletter.attachments.last.file.url %>" >
              <i class="fa fa-file-pdf-o"></i>
              View PDF
            </a>
          <% end %>
          <br>
          <%= link_to 'Show', newsletter, class: "button" %>
          <%= link_to 'Edit', edit_newsletter_path(newsletter), class: "button" %>
          <%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
