<div class="row">
  <div class="small-12 columns">
    <br>
    <%= link_to 'New Newsletter', new_newsletter_path, class: "button" %>
    <%= render "module/no_content" %>
  </div>
</div>
<% @newsletters.each do |newsletter| %>
  <div class="row">
    <div class="large-4 small-12 columns">
      <div class="image">
        <% if defined? newsletter.pictures.last.image %>
          <br>
          <br>
          <%= image_tag newsletter.pictures.last.image.url(:large) %>
        <% end %>
      </div>
    </div>
    <div class="large-8 small-12 columns background-a">
      <h1><%= newsletter.name %></h1>
      <div class="background-a-content">
        <h2><%= newsletter.date.strftime("%m/%d/%Y") %></h2>
        <% if defined? newsletter.attachments.last.file %>
          <div class="download-button">
            <a class="button" href="<%= newsletter.attachments.last.file.url %>" >
              <i class="fa fa-file-pdf-o"></i>
              View PDF
            </a>
          </div>
        <% end %>
        <br>
        <%= link_to 'Add Image/PDF', newsletter, class: "button" %>
        <%= link_to 'Edit', edit_newsletter_path(newsletter), class: "button" %>
        <%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
      </div>
    </div>
  </div>
<% end %>
