<div class="row">
  <div class="small-12 columns">
    <br>
    <br>
    <br>
  </div>

  <div class="large-6 small-12 columns">
    <% if defined? @newsletter.pictures.last.image %>
      <div class="image">
        <%= image_tag @newsletter.pictures.last.image.url(:xlarg) %>
      </div>
    <% end %>
  </div>
  <div class="large-6 small-12 columns">
    <div style="text-align:center">
      <p id="notice"><%= notice %></p>
      <div class="info">
        <h3><%= @newsletter.name %></h3>
        <h3><%= @newsletter.date %></h3>

        <% if defined? @newsletter.attachments.last.file %>
          <a class="button" href="<%= @newsletter.attachments.last.file %>" >
            <i class="fa fa-download"></i>
            download Scoop
          </a>
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_newsletter_path(@newsletter), class: "button" %>
    <%= link_to 'Back', newsletters_path, class: "button" %>
  </div>

  <div class="small-12 columns">
    <%= render "module/picture_attachment" %>
  </div>
</div>

