<div class="style-form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :placeholder => "jane@smith.com" %>
    </div>
    <div class="field">
      <%= f.label :password_hash %><br>
      <%= f.password_field :password_hash %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :street_address %><br>
      <%= f.text_field :street_address %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %><br>
      <%= f.text_field :state, :class => "small" %>
    </div>
    <div class="field">
      <%= f.label :zip %><br>
      <%= f.number_field :zip, class: "small" %>
    </div>
    <div class="field">
      <%= f.label :phone_home %><br>
      <%= f.text_field :phone_home, :pattern =>'^\d{3}-\d{3}-\d{4}$', :placeholder => '333-444-5555', :class => "small" %>
    </div>
    <div class="field">
      <%= f.label :phone_work %><br>
      <%= f.text_field :phone_work, :pattern =>'^\d{3}-\d{3}-\d{4}$', :placeholder => '333-444-5555', :class => "small" %>
    </div>
    <div class="field">
      <%= f.label :nurse %><br>
      <%= f.check_box :nurse %>
    </div>
    <div class="field">
      <%= f.label :institution %><br>
      <%= f.text_field :institution %>
    </div>
    <div class="field">
      <%= f.label "RN ID" %><br>
      <%= f.text_field :rn_id, class: "small" %>
    </div>
    <div class="field">
      <%= f.label :stage_registerd %><br>
      <%= f.text_field :stage_registerd, class: "small" %>
    </div>
    <div class="field">
      <%= f.label :aphon_member %><br>
      <%= f.check_box :aphon_member %>
    </div>
    <div class="field">
      <%= f.label :scaphon_member %><br>
      <%= f.check_box :scaphon_member %>
    </div>
    <div class="field">
      <%= f.label :aphon_member_number %><br>
      <%= f.text_field :aphon_member_number, class: "small" %>
    </div>
      <div class="field">
      <%= f.label :aphon_expiration_date %><br>
      <%= f.date_field :aphon_expiration_date %>
    </div>
    <div class="actions">
      <%= f.submit class: "button" %>
    </div>
  <% end %>
</div>
