<div class="row">
  <br>
  <br>
</div>
<div id="user-table">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone home</th>
        <th>Phone work</th>
        <th>Nurse</th>
        <th>Institution</th>
        <th>RN ID</th>
        <th>S R</th>
        <th>S M?</th>
        <th>A M?</th>
        <th>A #</th>
        <th>AXD</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.street_address %></td>
          <td><%= user.city %></td>
          <td><%= user.state %></td>
          <td><%= user.zip %></td>
          <td><%= user.phone_home %></td>
          <td><%= user.phone_work %></td>
          <td><%= user.nurse %></td>
          <td><%= user.institution %></td>
          <td><%= user.rn_id %></td>
          <td><%= user.stage_registerd %></td>
          <td><%= user.scaphon_member %></td>
          <td><%= user.aphon_member %></td>
          <td><%= user.aphon_member_number %></td>
          <td><%= user.aphon_expiration_date.strftime("%m/%d/%Y") %></td>
          <td>
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
