<div id="user-table">
  <div id="user-table-header-background"> </div>
  <div id="user-table-body">
    <table>
      <thead>
        <tr>
          <th><div class="th-inner"><%= sortable "email" %></th></div>
          <th><div class="th-inner"><%= sortable "last_name" %></th></div>
          <th><div class="th-inner"><%= sortable "street_address", "Address" %></th></div>
          <th><div class="th-inner"><%= sortable "city" %>City</th></div>
          <th><div class="th-inner"><%= sortable "state" %></th></div>
          <th><div class="th-inner"><%= sortable "zip" %></th></div>
          <th><div class="th-inner"><%= sortable "institution" %></th></div>
          <th><div class="th-inner"><%= sortable "state_registerd", "SR" %></th></div>
          <th><div class="th-inner"><%= sortable "aphon_member", "AM?" %></th></div>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.last_name %>, <%= user.first_name %></td>
            <td><%= user.street_address %></td>
            <td><%= user.city %></td>
            <td><%= user.state %></td>
            <td><%= user.zip %></td>
            <td><%= user.institution %></td>
            <td><%= user.state_registerd %></td>
            <td><%= user.aphon_member %></td>
            <td>
              <%= link_to 'Details', user %>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
