<div class="row">
  <div class="small-12 columns">
    <br>
    <br>
    <%= link_to 'Edit', edit_user_path(@user), class: "button" %>
    <%= link_to 'Back', users_path, class: "button" %>
  </div>
  <div class="small-12 columns background-a">
    <h1><%= @user.email %></h1>
    <div class="background-a-content">
      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @user.street_address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @user.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @user.state %>
      </p>

      <p>
        <strong>Zip:</strong>
        <%= @user.zip %>
      </p>

      <p>
        <strong>Phone home:</strong>
        <%= @user.phone_home %>
      </p>

      <p>
        <strong>Phone work:</strong>
        <%= @user.phone_work %>
      </p>

      <p>
        <strong>Nurse:</strong>
        <%= @user.nurse %>
      </p>

      <p>
        <strong>Institution:</strong>
        <%= @user.institution %>
      </p>

      <p>
        <strong>Rn:</strong>
        <%= @user.rn_id %>
      </p>

      <p>
        <strong>State registerd:</strong>
        <%= @user.state_registerd %>
      </p>

      <p>
        <strong>Aphon member:</strong>
        <%= @user.aphon_member %>
      </p>

      <p>
        <strong>Scaphon member:</strong>
        <%= @user.scaphon_member %>
      </p>

      <p>
        <strong>Aphon member number:</strong>
        <%= @user.aphon_member_number %>
      </p>

      <p>
        <strong>Aphon expiration date:</strong>
        <% if @user.aphon_expiration_date %><%= @user.aphon_expiration_date.strftime("%m/%d/%Y") %><% end %>
      </p>
    </div>
  </div>
</div>
