<div class="row">
  <div class="small-12 columns">
    <%= link_to 'New Conference', new_conference_path, class: "button" %>
    <%= render "module/no_content" %>
  </div>
</div>


<% @conferences.each do |conference| %>


  <div class="row">
    <div class="small-12 columns">
      <br>
      <br>
      <br>
    </div>
    <div class="large-4 small-12 columns">
      <div class="image">
        <% if defined? conference.pictures.last.image %>
          <%= image_tag conference.pictures.last.image.url(:large) %>
        <% end %>
      </div>
    </div>
    <div class="large-8 small-12 columns">
      <div style="text-align:center">
        <h1><%= conference.name %></h1>
        <div class="info background-a">
          <h3><%= conference.date.strftime("%m/%d/%Y") %></h3>
          <h3><%= conference.location %></h3>
          <h3><%= conference.cost %></h3>
          <div id="new_pp_code">
            <div style="display:none" id="initial_paypal_code">
              <%= conference.paypal %>
            </div>
          </div>
          <% if defined? conference.attachments.last.file %>
            <a class="button" href="<%= conference.attachments.last.file.url %>" >
              <i class="fa fa-file-pdf-o"></i>
              View PDF
            </a>
          <% end %>
          <%= link_to 'Show', conference, class: "button" %>
          <%= link_to 'Edit', edit_conference_path(conference), class: "button" %>
          <%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
