<div id="carousel" class="owl-carousel row">

  <div class="item"><%= image_tag "owl1.jpg" %><div class="caption">caption1</div></div>
  <div class="item"><%= image_tag "owl2.jpg" %><div class="caption">caption2</div></div>
  <div class="item"><%= image_tag "owl3.jpg" %><div class="caption">caption3</div></div>
  <div class="item"><%= image_tag "owl4.jpg" %><div class="caption">caption4</div></div>
  <div class="item"><%= image_tag "owl5.jpg" %><div class="caption">caption5</div></div>
  <div class="item"><%= image_tag "owl6.jpg" %><div class="caption">caption6</div></div>
  <div class="item"><%= image_tag "owl7.jpg" %><div class="caption">caption7</div></div>
  <div class="item"><%= image_tag "owl8.jpg" %><div class="caption">caption8</div></div>

</div>
