<div id="carousel" class="owl-carousel row">

  <div class="item"><%= image_tag "owl1.jpg" %></div>
  <div class="item"><%= image_tag "owl2.jpg" %></div>
  <div class="item"><%= image_tag "owl3.jpg" %></div>
  <div class="item"><%= image_tag "owl4.jpg" %></div>
  <div class="item"><%= image_tag "owl5.jpg" %></div>
  <div class="item"><%= image_tag "owl6.jpg" %></div>
  <div class="item"><%= image_tag "owl7.jpg" %></div>
  <div class="item"><%= image_tag "owl8.jpg" %></div>

</div>
