<div class="row">
  <div class="nav">
    <div><%= link_to "home", root_path %></div>
    <div><%= link_to "about", root_path %></div>
    <div><%= link_to "newsletter", root_path %></div>
    <div><%= link_to "conferences", root_path %></div>
    <div><%= link_to "scholarships", root_path %></div>
    <div class="special"><%= link_to "news", root_path %></div>
  </div>
</div>
