<div class="home-main">
  <div class="home-item">
    <% if defined? @newsletter %>
      <a href="/newsletters">
        <h1 class="newsletter"><%= @newsletter.name %></h1>
        <%= image_tag @newsletter_picture.image.url(:xlarg), class: "item-image" %>
      </a>
    <% end %>
  </div>
  <% @events.each do |e| %>
    <div class="home-item">
      <% if defined? e.pictures.first %>
        <a href="/affairs">
          <h1 class="<%= e.kind %>"><%= e.name %></h1>
          <%= image_tag e.pictures.first.image.url(:large), class: "item-image" %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>

<div class="community">
  <div class="community_board small-12 columns">
    <%= image_tag @community_picture.image.url(:large), class: "image-style" %>
    <h1><%= @community.name %></h1>
    <p>
      <%= @community.description %>
    </p>
  </div>
</div>
