<div class="row home-main">
  <div class="newsletters">
    <%= @newsletter.name %>
    <%= image_tag @newsletter_picture.image.url(:xlarg), class: "home-box-image" %>
  </div>
  <div class="events">
    <div class="home-box-rollover">
      <% @events.each do |e| %>
        <div class="rollover-item-link">
          <% if defined? e.pictures.first %>
          <div class="name"><h1 class="<%= e.kind %>"><%= e.name %></h1></div>
            <div class="image-div">
              <%= image_tag e.pictures.first.image.url(:large), class: "item-image" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="scholarships">
    <%= image_tag "scholarships.jpg", class: "home-box-image" %>
  </div>
</div>

<div class="community">
  <div class="row">
    <div class="community_board small-12 columns">
      something in the community board.
    </div>
  </div>
</div>
