<div class="row home-main">
  <div class="newsletters">
    <h1>Newsletters</h1>
    <%= @newsletter.name %>
    <%= image_tag @newsletter_picture.image.url(:xlarg), class: "home-box-image" %>
  </div>
  <div class="events">
    <h1>Events</h1>
    <%= @event.name %>
    <% if defined? @event_picture %><%= image_tag @event_picture.image.url(:xlarg), class: "home-box-image" %><% end %>
  </div>
  <div class="scholarships">
    <h1>Scholarships</h1>
    <%= image_tag "scholarships.jpg", class: "home-box-image" %>
  </div>
</div>


<div class="community">
  <div class="row">
    <div class="community_board small-12 columns">
      something in the community board.
    </div>
  </div>
</div>
