<h1>Listing abouts</h1>

<table>
  <thead>
    <tr>
      <th>About</th>
      <th>Scaphon</th>
      <th>Aphon</th>
      <th>Csp</th>
      <th>More</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= about.about %></td>
        <td><%= about.scaphon %></td>
        <td><%= about.aphon %></td>
        <td><%= about.csp %></td>
        <td><%= about.more %></td>
        <td><% if defined? about.pictures.last.image %><%= image_tag about.pictures.last.image.url(:medium) %><% end %></td>
        <td><%= link_to 'Show', about %></td>
        <td><%= link_to 'Edit', edit_about_path(about) %></td>
        <td><%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About', new_about_path %>
