<% @abouts.each do |about| %>
  <div class="row">
    <% if admin %>
    <div class="small-12 columns">
      <h2>
        <i class="fa fa-edit"></i>
        <%= link_to 'Edit', edit_about_path(about), class: "button" %>
      </h2>
      <h2>
        <i class="fa fa-plus"></i>
        <%= link_to 'Add Image', about, class: "button" %>
      </h2>
    </div>
    <% end %>

    <div class="small-12 columns background-a">
      <h1><%= about.about %></h1>
    </div>

    <% about.pictures.each do | picture | %>
      <div class="small-4 columns image">
        <%= picture.name %>
        <%= image_tag picture.image.url(:large) %>
      </div>
    <% end %>

    <div class="small-12 columns background-a">
      <h1>SCAPHON</h1>
      <div class="background-a-content">
        <p><%= markdown(about.scaphon) %></p>
      </div>
    </div>

    <div class="small-12 columns background-a">
      <h1>APHON</h1>
      <div class="background-a-content">
        <p><%= markdown(about.aphon) %></p>
      </div>
    </div>

  </div>
<% end %>


