<p id="notice"><%= notice %></p>

<p>
  <strong>About:</strong>
  <%= @about.about %>
</p>

<p>
  <strong>Scaphon:</strong>
  <%= @about.scaphon %>
</p>

<p>
  <strong>Aphon:</strong>
  <%= @about.aphon %>
</p>

<p>
  <strong>Csp:</strong>
  <%= @about.csp %>
</p>

<p>
  <strong>More:</strong>
  <%= @about.more %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
