<div class="row">
  <% if admin %>
    <div class="small-12 columns">
      <h2>
        <i class="fa fa-plus"></i>
        <%= link_to 'New Supporter', new_supporter_path, class: "button" %>
      </h2>
    </div>
  <% end %>
  <div class="small-12 columns">
    <%= render "module/no_content" %>
  </div>
</div>
<% @supporters.each do |supporter| %>
  <% if supporter.active? || admin %>
    <div class="row">
      <div class="small-12 columns">
        <br>
        <br>
      </div>
      <div class="large-4 small-12 columns">
        <div class="image">
          <% if defined? supporter.pictures.last.image %>
            <%= image_tag supporter.pictures.last.image.url(:large) %>
          <% end %>
        </div>
      </div>
      <div class="large-8 small-12 columns supporter-box">
        <div class="supporter <%= supporter.status %>">
          <h1><%= supporter.name %></h1>
          <h3>Status: <%= supporter.status %></h3>
        </div>
        <% if admin %>
          <div class="supporter <%= supporter.status %>">
            <h1>Active? <%= supporter.active %></h1>
            <h2>
              <i class="fa fa-edit"></i>
              <%= link_to 'Edit', edit_supporter_path(supporter), class: "button" %>
            </h2>
            <h2>
              <i class="fa fa-plus"></i>
              <%= link_to 'Add Image', supporter, class: "button" %>
            </h2>
            <h2>
              <i class="fa fa-trash"></i>
              <%= link_to 'Destroy', supporter, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
            </h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
