<div class="row">
  <div class="small-12 columns">
    <br>
    <br>
    <br>
  </div>

  <div class="large-4 small-12 columns">
    <div class="image">
      <%= image_tag @supporter.pictures.last.image.url(:xlarg) %>
    </div>
  </div>
  <div class="large-8 small-12 columns">
    <div style="text-align:center">
        <h1><%= @supporter.name %></h1>
      <div class="background-a">
        <h3><%= @supporter.status %></h3>
        <h3><%= @supporter.active %></h3>
        <%= link_to 'Edit', edit_supporter_path(@supporter), class: "button" %>
        <%= link_to 'Back', supporters_path, class: "button" %>
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <%= render "pictures/pictures" %>
    <%= render "pictures/form" %>
  </div>
</div>

