<div class="row">
  <div class="small-12 columns">
    <br>
    <br>
    <br>
  </div>

  <div class="large-6 small-12 columns">
    <% if defined? @supporter.pictures.last.image %>
      <div class="image">
        <%= image_tag @supporter.pictures.last.image.url(:xlarg) %>
      </div>
    <% end %>
  </div>
  <div class="large-6 small-12 columns background-a">
    <h1><%= @supporter.name %></h1>
    <div class="background-a-content">
      <h3><%= @supporter.status %></h3>
      <h3><%= @supporter.active %></h3>
      <% if defined? @supporter.attachments.last.file %>
        <a class="button" href="<%= @supporter.attachments.last.file %>" >
          <i class="fa fa-download"></i>
          download Scoop
        </a>
      <% end %>
      <%= link_to 'Edit', edit_supporter_path(@supporter), class: "button" %>
      <%= link_to 'Back', supporters_path, class: "button" %>
    </div>
  </div>

  <div class="small-12 columns">
    <%= render "module/picture_attachment" %>
  </div>
</div>


