<div class="row">
  <% if admin %>
    <div class="small-12 columns">
      <h2>
        <i class="fa fa-plus"></i>
        <%= link_to 'New community', new_community_path, class: "button" %>
      </h2>
    </div>
  <% end %>
  <div class="small-12 columns">
    <%= render "module/no_content" %>
  </div>
</div>
<% @communities.each do |community| %>
  <div class="row">
    <div class="small-12 columns">
      <br>
      <br>
      <br>
    </div>
    <div class="large-3 small-12 columns">
      <br>
      <br>
      <div class="image">
        <% if defined? community.pictures.last.image %>
          <% community.pictures.each do |picture| %>
            <%= image_tag picture.image.url(:large) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="large-9 small-12 columns background-a">
      <h1><%= community.name %></h1>
      <div class="background-a-content">
        <p><%= markdown(community.description) %></p>
        <p><%= markdown(community.descriptionb) %></p>
        <% if defined? community.attachments.last.file %>
          <a class="button" href="<%= community.attachments.last.file.url %>" >
            <i class="fa fa-file-pdf-o"></i>
            View PDF
          </a>
        <% end %>
        <% if admin %>
          <h2>
            <i class="fa fa-edit"></i>
            <%= link_to 'Edit', edit_community_path(community), class: "button" %>
          </h2>
          <h2>
            <i class="fa fa-plus"></i>
            <%= link_to 'Add Image/PDF', community, class: "button" %>
          </h2>
          <h2>
            <i class="fa fa-trash"></i>
            <%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
          </h2>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
