<div id="footer">
  <div  id="footer-content">
    <div class="<%= 'active' if current_page?(root_path) %>"><%= link_to "home", root_path %></div>
    <div class="<%= 'active' if current_page?(newsletters_path) %>"><%= link_to "newsletter", newsletters_path %></div>
    <div class="<%= 'active' if current_page?(affairs_path) %>"><%= link_to "events", affairs_path %></div>
    <div class="<%= 'active' if current_page?(scholarships_path) %>"><%= link_to "scholarships", scholarships_path %></div>
    <div class="<%= 'active' if current_page?(abouts_path) %>"><%= link_to "about us", abouts_path %></div>
    <div class="<%= 'active' if current_page?(communities_path) %>"><%= link_to "Community", communities_path %></div>
    <div class="<%= 'active' if current_page?(board_members_path) %>"><%= link_to "board members", board_members_path %></div>
    <div class="<%= 'active' if current_page?(supporters_path) %>"><%= link_to "supporters", supporters_path %></div>
    <div id="footer-logo"><a href="/"><%= image_tag "scaphon-white.png" %></div></a>
  </div>
</div>
