<div class="row">
  <div class="nav">
    <div class="logo-div"><%= link_to "", root_path, class: "logo" %></div>
    <div><%= link_to "about", root_path %></div>
    <div><%= link_to "newsletter", newsletters_path %></div>
    <div><%= link_to "events", affairs_path %></div>
    <div><%= link_to "scholarships", scholarships_path %></div>
    <div><%= link_to "news", root_path %></div>
  </div>
</div>
