<div id="nav">
  <div class="first">&nbsp;</div>
  <div class="<%= 'active' if current_page?(root_path) %>"><%= link_to "home", root_path %></div>
  <div class="<%= 'active' if current_page?(newsletters_path) %>"><%= link_to "newsletters", newsletters_path %></div>
  <div class="<%= 'active' if current_page?(affairs_path) %>"><%= link_to "events", affairs_path %></div>
  <div class="<%= 'active' if current_page?(scholarships_path) %>"><%= link_to "scholarships", scholarships_path %></div>
  <div class="<%= 'active' if current_page?(abouts_path) %>"><%= link_to "about us", abouts_path %></div>

  <div class="log-in">
    <% if current_user %>
      <%= link_to "log out", log_out_path, class: "button" %>
    <% else %>
      <%= link_to "log in", log_in_path, class: "button" %>
      <%= link_to "sign up", sign_up_path, class: "button" %>
    <% end %>
    <%# link_to "Pictures", newsletter_pictures_path %>
  </div>
</div>

