<div class="nav">
  <div style="margin-left:18%;">&nbsp;</div>
  <div><%= link_to "home", root_path %></div>
  <div><%= link_to "newsletter", newsletters_path %></div>
  <div><%= link_to "events", affairs_path %></div>
  <div><%= link_to "scholarships", scholarships_path %></div>
  <div><%= link_to "news", root_path %></div>
</div>

