<!DOCTYPE html>
<html>
<head>
  <title>Scaphon</title>
  <meta name = "viewport" content = "initial-scale = 1.0">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <div id="flash">
      <div id="close-flash"><i class="fa fa-close"></i></div>
      <%= content_tag :div, msg, class: name %>
    </div>
  <% end %>


  <% if not current_page?(users_path) %><%= render "layouts/nav" %><% end %>
  <div id="content">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
